.about-wrapper {
  background-image: url('../../assets/img/about/about-background-mobile.png');
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}

.coin {
  width: 386px;
  height: 396px;
}

.about-text {
  font-family: 'Akira' !important;
  color: #ffffff;
}

@media only screen and (min-width: 1024px) {
  .about-wrapper {
    background-image: url('../../assets/img/about/about-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
  }
}
