.about-wrapper {
  background-image: url('../../assets/img/about/about-background-mobile.png');
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}

.coin {
  width: 386px;
  height: 396px;
  object-fit: contain;
}

.about-text {
  font-family: 'Akira' !important;
  color: #ffffff;
}

.mint-badge-btn {
  border-radius: 10px;
  border: none;
  background-color: black;
  padding: 12px 40px;
  color: white;
  font-size: 15px;
  font-weight: 700;
}

@media only screen and (min-width: 1024px) {
  .about-wrapper {
    background-image: url('../../assets/img/about/about-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
  }
}
