@import '../../scss/utils/fontSize.scss';
@import '../../scss/utils/lineHeight.scss';

// Screen 1200++
.container-hero {
  padding: 0px 80px;
  width: 100%;

  .content-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .column-left-whitelist {
      .font-hero-whitelist {
        margin-top: 3rem;
        overflow: hidden;
        margin-bottom: 12px;
        max-width: 503px;
        font-family: 'Akira';
        font-weight: 800;
        // letter-spacing: 0.05em;
        font-size: $large-desktop-title;
        line-height: $large-desktop-title-line-height;
        color: #1f2326;
      }
      .subtext-1-whitelist {
        font-weight: 500;
        font-size: $large-desktop-description;
        line-height: $large-desktop-description-line-height;
        max-width: 503px;
      }
      .subtext-2-whitelist {
        font-weight: 700;
        font-size: $large-desktop-description;
        line-height: $large-desktop-description-line-height;
        color: #1f2326;
        margin-bottom: 35px;
        max-width: 495px;
      }
      .badges-whitelist {
        padding: 8px 0;
        border-top: 1px solid #cacaca;
        border-left: none;
        border-right: none;
        max-width: 451px;
        &.badges-whitelist:last-child {
          border-bottom: 1px solid #cacaca;
        }
        h3 {
          font-weight: 700;
          font-size: 11px;
          line-height: 20px;
          margin: 0;
          color: #1f2326;
        }
        .plus {
          font-weight: 900;
          font-size: 15px;
          line-height: 18px;
          color: #1f2326;
          cursor: pointer;
          margin-right: 5px;
        }
      }
    }
    .column-right-whitelist {
      .whitelist-badge-shield-img {
        max-width: 680px;
        max-height: 453px;
      }
      .text-whitelist {
        width: 100%;
        text-align: center;
        font-style: italic;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .container-hero {
    padding: 0 44px;
    width: 100%;
    &.height-hero-whitelist {
      height: 82vh;
    }

    .content-wrapper {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .column-left-whitelist {
        .font-hero-whitelist {
          margin-top: 3rem;
          font-size: $large-desktop-title;
          line-height: $large-desktop-title-line-height;
          margin-bottom: 17px;
          max-width: 329px;
        }
        .subtext-1-whitelist {
          font-size: $large-desktop-description;
          line-height: $large-desktop-description-line-height;
          max-width: 307px;
        }
        .subtext-2-whitelist {
          font-size: $large-desktop-description;
          line-height: $large-desktop-description-line-height;
          margin-bottom: 24px;
          max-width: 299px;
        }
        .badges-whitelist {
          border-top: 1px solid #cacaca;
          max-width: 296px;
          h3 {
            font-size: 12px;
            line-height: 15px;
          }
        }
      }

      .column-right-whitelist {
        .whitelist-badge-shield-img {
          max-width: 440px;
          max-height: 296px;
        }
        .text-whitelist {
          font-size: 16px;
          line-height: 20px;
        }
      }
    }
  }
}

@media only screen and (max-width: 991px) {
  .container-hero {
    padding: 0 40px;
    width: 100%;

    .content-wrapper {
      width: 100%;

      .column-left-whitelist {
        .font-hero-whitelist {
          max-width: 255px;
          font-size: $desktop-title;
          line-height: $desktop-title-line-height;
        }
        .subtext-1-whitelist {
          font-size: $desktop-description;
          line-height: $desktop-description-line-height;
          max-width: 238px;
        }
        .subtext-2-whitelist {
          font-size: $desktop-description;
          line-height: $desktop-description-line-height;
          margin-bottom: 18px;
          max-width: 232px;
        }
        .badges-whitelist {
          border-top: 1px solid #cacaca;
          max-width: 230px;
          h3 {
            font-size: 9px;
            line-height: 11px;
          }
        }
      }

      .column-right-whitelist {
        .whitelist-badge-shield-img {
          max-width: 342px;
          max-height: 228px;
        }
        .text-whitelist {
          font-size: 8px;
          line-height: 10px;
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .container-hero {
    padding: 0 32px;
    width: 100%;
    &.height-hero-whitelist {
      height: 100%;
    }

    .content-wrapper {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      row-gap: 40px;

      .column-left-whitelist {
        .font-hero-whitelist {
          max-width: 100%;
          font-size: $tablet-title;
          line-height: $tablet-title-line-height;
          overflow: hidden;
          margin-bottom: 28px;
        }
        .subtext-1-whitelist {
          font-size: $tablet-description;
          line-height: $tablet-description-line-height;
          max-width: 100%;
          margin-bottom: 14px;
          overflow: hidden;
        }
        .subtext-2-whitelist {
          font-size: $tablet-description;
          line-height: $tablet-description-line-height;
          max-width: 100%;
          overflow: hidden;
          margin-bottom: 50px;
        }
        .badges-whitelist {
          border-top: 1px solid #cacaca;
          max-width: 100%;
          h3 {
            font-size: 12px;
            line-height: 15px;
          }
        }
      }

      .column-right-whitelist {
        .whitelist-badge-shield-img {
          max-width: 100%;
          max-height: 100%;
        }
      }
    }
  }
}

@media only screen and (max-width: 410px) {
  .container-hero {
    .content-wrapper {
      .column-left-whitelist {
        .font-hero-whitelist {
          font-size: $mobile-title;
          line-height: $mobile-title-line-height;
        }
        .subtext-1-whitelist {
          font-size: $mobile-description;
          line-height: $mobile-description-line-height;
        }
        .subtext-2-whitelist {
          font-size: $mobile-description;
          line-height: $mobile-description-line-height;
        }
      }
    }
  }
}
