$mobile-title: 41px;
$mobile-description: 16px;

$tablet-title: 25px;
$tablet-description: 10px;

$desktop-title: 30px;
$desktop-description: 12px;

$large-desktop-title: 45px;
$large-desktop-description: 18px;
