@import '../scss/utils/color.scss';

.hero-container {
  background-image: url('../../assets/img/hero-bg-mobile.png');
  background-repeat: no-repeat;
  background-size: 100% calc(95% + 26px);
}

.hero-illustration {
  width: calc(110% + 0px);
}

.hero-title {
  width: 100%;
  height: 141px;
}
.hero-desc {
  margin-top: 24px;
  color: $white;
  font-size: 15px;
  font-weight: 500;
}

.join-our-guild {
  border-radius: 10px;
  border: none;
  background-color: $black;
  padding: 16px 18px;
  color: $white;
  font-size: 15px;
  font-weight: 700;
}

@media only screen and (min-width: 1024px) {
  .hero-container {
    background-image: url('../../assets/img/hero-background.png');
    background-repeat: no-repeat;
    background-size: contain;
    object-fit: contain;
  }
}
