@import '../../scss/utils/fontSize.scss';
@import '../../scss/utils/lineHeight.scss';

// Screen 1200++
.container-hero {
  padding: 0px 80px;
  padding-bottom: 20vh;
  width: 100%;
  overflow: hidden;
  &.height-hero {
    height: 82vh;
  }

  .content-wrapper {
    padding-top: 10vh;

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .column-left {
      .font-hero {
        margin-top: 3rem;
        overflow: hidden;
        max-width: 503px;
        font-family: 'Akira';
        font-weight: 800;
        // letter-spacing: 0.05em;
        font-size: $large-desktop-title;
        line-height: $large-desktop-title-line-height;
        margin-bottom: 33px;
        color: #1f2326;
        span {
          color: #ffc700;
          font-family: 'Akira';
        }
      }
    }
    .subtext-mint {
      font-family: 'Montserrat';
      font-weight: 500;
      font-size: $large-desktop-description;
      line-height: $large-desktop-description-line-height;
      max-width: 526px;
      margin-bottom: 46px;
    }
    .badges-mint {
      border-top: 1px solid #cacaca;
      border-left: none;
      border-right: none;
      max-width: 451px;
      padding: 8px 0;

      &.badges-mint:last-child {
        border-bottom: 1px solid #cacaca;
      }
      h3 {
        font-weight: 900;
        margin: 0;
        font-size: 11px;
        line-height: 20px;
      }
      .plus {
        font-weight: 900;
        font-size: 15px;
        line-height: 18px;
        color: #1f2326;
        cursor: pointer;
        margin-right: 5px;
      }
    }
  }

  .column-right {
    .mint-badge-shield-img {
      max-width: 680px;
      max-height: 453px;
    }
    .text-collections {
      width: 100%;
      text-align: center;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      font-style: italic;
    }
  }
}

@media only screen and (max-width: 1199px) {
  .container-hero {
    padding: 0 49px;
    padding-bottom: 20vh;

    width: 100%;

    .content-wrapper {
      padding-top: 10vh;

      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .column-left {
        .font-hero {
          margin-top: 3rem;
          font-size: $desktop-title;
          line-height: $desktop-title-line-height;
          margin-bottom: 21px;
          color: #1f2326;
          span {
            color: #ffc700;
          }
        }
        .subtext-mint {
          font-size: $desktop-description;
          line-height: $desktop-description-line-height;
          max-width: 307px;
          margin-bottom: 30px;
        }
        .badges-mint {
          border-top: 1px solid #cacaca;
          max-width: 296px;
          h3 {
            font-size: 12px;
            line-height: 15px;
            margin: 0;
          }
        }
      }

      .column-right {
        .mint-badge-shield-img {
          max-width: 447px;
          max-height: 297px;
        }
      }
    }
  }
}

@media only screen and (max-width: 991px) {
  .container-hero {
    padding: 0 40px;
    padding-bottom: 20vh;

    width: 100%;

    .content-wrapper {
      width: 100%;

      .column-left {
        .font-hero {
          max-width: 255px;
          margin-bottom: 16px;
          font-size: $desktop-title;
          line-height: $desktop-title-line-height;
        }

        .subtext-mint {
          font-size: $desktop-description;
          line-height: $desktop-description-line-height;
          max-width: 238px;
          margin-bottom: 22px;
        }
        .badges-mint {
          border-top: 1px solid #cacaca;
          max-width: 230px;
          h3 {
            font-size: 9px;
            line-height: 11px;
            margin: 0;
          }
        }
      }

      .column-right {
        .mint-badge-shield-img {
          max-width: 347px;
          max-height: 228px;
        }
        .text-collections {
          font-size: 8px;
          line-height: 10px;
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .container-hero {
    padding: 0 32px;
    padding-bottom: 20vh;

    width: 100%;
    &.height-hero {
      height: 100%;
    }

    .content-wrapper {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .column-left {
        .font-hero {
          max-width: 100%;
          margin-top: 3rem;
          margin-bottom: 30px;
          overflow: hidden;
          font-size: $tablet-title;
          line-height: $tablet-title-line-height;
        }
        .subtext-mint {
          font-size: $tablet-description;
          line-height: $tablet-description-line-height;
          max-width: 100%;
          margin-bottom: 20px;
          overflow: hidden;
        }
        .badges-mint {
          border-top: 1px solid #cacaca;
          max-width: 100%;
          h3 {
            font-size: 12px;
            line-height: 15px;
            margin: 0;
          }
        }
      }

      .column-right {
        .mint-badge-shield-img {
          max-width: 100%;
          max-height: 100%;
        }
        .text-collections {
          min-height: inherit;
        }
      }
    }
  }
}

@media only screen and(max-width: 425px) {
  .container-hero {
    .content-wrapper {
      .column-left {
        .font-hero {
          font-size: $mobile-title;
          line-height: $mobile-title-line-height;
        }
        .subtext-mint {
          font-size: $mobile-description;
          line-height: $mobile-description-line-height;
        }
      }
    }
  }
}
