.mint-container {
  background-image: url('../../assets/img/background-full.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 110%;
}

.hero-hero {
  background-image: url('../../assets/img/background-full.png');
  background-repeat: no-repeat;
  // background-size: 100% calc(95% + 50px);
  background-size: cover;
}

.hero-illustration {
  width: calc(110% + 0px);
}

.hero-title {
  width: 100%;
  height: 141px;
}
.hero-desc {
  margin-top: 24px;
  color: white;
  font-size: 15px;
  font-weight: 500;
}

.mint-btn {
  border-radius: 15px;
  border: none;
  background-color: black;
  padding: 16px 18px;
  color: white;
  font-size: 15px;
  font-weight: 700;
  width: 300px;
}

.mint-shield {
  height: 100%;
  width: 100%;
}

.mint-badge-shield-img {
  max-height: 450px;
  object-fit: contain;
}

.bold-white {
  color: white;
  font-weight: 900;
  text-shadow: 1px 0 white;
  letter-spacing: 1px;
}

.pad-right {
  padding-right: 150px;
}

.connect-btn {
  border-radius: 15px;
  border: none;
  background-color: white;
  padding: 16px 18px;
  color: #8836f0;
  font-size: 15px;
  font-weight: 700;
  width: 300px;
}

.mint-btn-disabled {
  border-radius: 15px;
  border: none;
  background-color: #a9a9a9;
  padding: 16px 18px;
  color: white;
  font-size: 15px;
  font-weight: 700;
  width: 300px;
}

.link,
.link:hover {
  color: white;
  cursor: pointer;
}

.error {
  color: yellow !important;
}

.mx-p {
  max-width: 227px;
}

.mx-image {
  width: 214px;
}

.mx-card {
  gap: 2rem;
}

.mx-single-image {
  width: 272px;
}
.mx-multy-image {
  width: 272px;
}

.mx-ranker {
  width: 269px;
  overflow-x: visible;
}

@media only screen and (min-width: 1024px) {
  .hero-container {
    background-image: url('../../assets/img/hero-background.png');
    background-repeat: no-repeat;
    background-size: contain;
    object-fit: contain;
  }

  .mx-ranker {
    width: auto;
    // overflow-x: hidden;
  }

  .mx-p {
    max-width: 603px;
  }

  .mx-card {
    max-width: '80%';
    width: '80%';
    padding: 0 10rem;
    gap: 0;
  }
  .mx-image {
    width: 308px;
  }

  .mx-single-image {
    width: 518px;
  }
  .mx-multy-image {
    width: auto;
  }
}
