// Screen 1200++
.container-hero {
  padding: 0px 80px;
  width: 100%;

  .content-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .column-left {
      .font-hero {
        min-height: 174px;
        max-width: 503px;
        font-family: 'Akira';
        font-weight: 800;
        font-size: 62px;
        letter-spacing: 0.05em;
        line-height: 50px;
        color: #1f2326;
        span {
          color: #ffc700;
        }
      }
    }
    .subtext-mint {
      font-family: 'Montserrat';
      font-weight: 500;
      line-height: 30px;
      font-size: 25px;
      min-height: 127px;
      max-width: 526px;
    }
    .badges-mint {
      padding: 7px 0 14px 0;
      border-top: 1px solid #cacaca;
      border-left: none;
      border-right: none;
      max-width: 451px;
      &.badges-mint:last-child {
        border-bottom: 1px solid #cacaca;
      }
      h3 {
        font-weight: 700;
        margin: 0;
        font-size: 16px;
        line-height: 20px;
      }
      .plus {
        font-weight: 900;
        font-size: 15px;
        line-height: 18px;
        color: #1f2326;
        cursor: pointer;
        margin-right: 5px;
      }
    }
  }

  .column-right {
    .mint-badge-shield-img {
      max-width: 680px;
      max-height: 453px;
    }
    .text-collections {
      width: 100%;
      text-align: center;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      font-style: italic;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .container-hero {
    padding: 0 49px;
    width: 100%;

    .content-wrapper {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .column-left {
        .font-hero {
          min-height: 114px;
          font-size: 40px;
          line-height: 36px;
          color: #1f2326;
          span {
            color: #ffc700;
          }
        }
        .subtext-mint {
          font-size: 16px;
          line-height: 20px;
          max-width: 307px;
        }
        .badges-mint {
          padding: 5px 0 9px 0;
          border-top: 1px solid #cacaca;
          max-width: 296px;
          h3 {
            font-size: 12px;
            line-height: 15px;
            margin: 0;
          }
        }
      }

      .column-right {
        .mint-badge-shield-img {
          max-width: 447px;
          max-height: 297px;
        }
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  .container-hero {
    padding: 0 40px;
    width: 100%;

    .content-wrapper {
      width: 100%;

      .column-left {
        .font-hero {
          min-height: 90px;
          max-width: 255px;
          font-size: 31px;
          line-height: 36px;
        }
        .subtext-mint {
          font-size: 12px;
          line-height: 15px;
          max-width: 238px;
        }
        .badges-mint {
          padding: 4px 0 7px 0;
          border-top: 1px solid #cacaca;
          max-width: 230px;
          h3 {
            font-size: 9px;
            line-height: 11px;
            margin: 0;
          }
        }
      }

      .column-right {
        .mint-badge-shield-img {
          max-width: 347px;
          max-height: 228px;
        }
        .text-collections {
          font-size: 8px;
          line-height: 10px;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .container-hero {
    padding: 0 32px;
    width: 100%;

    .content-wrapper {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .column-left {
        .font-hero {
          min-height: 120px;
          max-width: 100%;
          font-size: 41px;
          line-height: 36px;
          overflow: hidden;
        }
        .subtext-mint {
          font-size: 16px;
          line-height: 20px;
          max-width: 100%;
          min-height: 107px;
          overflow: hidden;
        }
        .badges-mint {
          padding: 10px 0 12px 0;
          border-top: 1px solid #cacaca;
          max-width: 100%;
          h3 {
            font-size: 12px;
            line-height: 15px;
            margin: 0;
          }
        }
      }

      .column-right {
        .mint-badge-shield-img {
          max-width: 100%;
          max-height: 100%;
        }
        .text-collections {
          min-height: inherit;
        }
      }
    }
  }
}
