@import '../scss/utils/color.scss';
.nav-container {
  background-color: $black;
  height: 10vh;
  overflow: hidden;
  //   min-height: 100px;
  padding-left: 12px;
  padding-right: 12px;
}

.nav-content {
  background-color: $black;
}

.nav-logo {
  width: 64px;
  height: 34px;
}
.nav-item {
  margin: 20px auto;
}

.nav-link-custom {
  font-weight: 700;
  font-size: 15px;
  text-decoration: none;
  color: $white;
  &:active {
    color: $white;
    text-decoration: none;
  }
}

@media only screen and (min-width: 1024px) {
  .nav-item {
    margin: 20px 20px;
  }
}
